/*reset spacing*/
body{
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #f2f2f2ff;
  font-family: Rmneue,sans-serif;
  min-height:100vh;
}
*   {margin: 0; padding: 0; box-sizing: border-box;}
h1  {text-align: center; margin: 30; padding: 40px; text-shadow: 0px 3px 10px #324224ee; font-size: 6vh}
h2  {text-align: center; padding: 5px; text-shadow: 0px 3px 10px #324224ee; font-size: 4vh}

#navbar {
  list-style-type: none;
  margin-left: 30px;
  margin-right: 30px;
  padding: 20px;
  border-bottom: 1px solid #fff;
}

#navbar li {
  display: inline-block;
  padding: 10;
}

#navbar li a {
  display: block;
  color: #ffffffff;
  min-width: 100px;
  text-align: center;
  padding: 18px 20px;
  margin: 0 5px;
  text-decoration: none;
}

#navbar li a:hover {
  color: #FFCC70;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

progress {
  background-color: #444444cc;
  color: #FFFFFF;
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 100%;
  margin-top: 20px;
}

progress::-webkit-progress-value {
  background-color: #4158D0;
}
.progressContainer {
  position: relative;
  background-color: #444444cc;
  width: 100%;
  max-width: 1000px;
  margin: 10px auto;
  margin-bottom: 30px;
  padding: 40px;
  border-radius: 20px;
}

.column {
  flex: 45%;
}

.container {
  position: relative;
  background-color: #444444cc;
  max-width: 500px;
  margin: 10px auto;
  margin-bottom: 30px;
  padding: 40px;
  border-radius: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #fff;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #fff;
}

input[type="submit"] {
  background-color: #FFCC70;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #FFCC70;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #4158D0;
  border: 1px solid #4158D0;
}

button {
  background-color: #FFCC70;
  width: 150px;
  padding: 10px;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #FFCC70;
  right: 0;
}

button:hover {
  background-color: #4158D0;
  border: 1px solid #4158D0;
}
