{% extends "base.html" %}
{% block title %}Friends{% endblock %}
{% block content %}
<body>
  <nav>
    <div class="nav-links">
      <a href="/home">Home</a>
      <a href="/create_event">New Event</a>
      <a href="/friends">Friends</a>
      <a href="/settings">Settings</a>
    </div>
    <img id="profile-picture" src="{{ profile_picture }}" alt="Profile Picture" onclick="changeProfilePicture()">
  </nav>
  <h1>Friends</h1>
  <div class="enterDetails">
    <form method='post' name="NewFriend">
      {{ formNew.hidden_tag() }}
      <div>
        <label for="username">Find Friend: Enter username</label>
        {{ formNew.username }}
      </div>
      {{ get_flashed_messages()[0] }}
      <div>
        <input type="submit" id="submit" name="submit" value="Submit">
      </div>
    </form>
  </div>

  <h2>Friends List:</h2>
  {% if friendsList|length == 0 %}
    <p>No friends yet</p>
  {% else %}
  <div class="item-list-container">
    {% for friend in friendsList %}
      <div class="item-list">
        <img id="profile-picture" src="./static/uploads/{{ friend.username }}.jpg" alt="{{ friend.username }}'s Profile Picture">
        <h2>{{ friend.username }}</h2>
        <form method='post' name="RemoveFriend">
          {{ formRemove.hidden_tag() }}
          <input type="hidden" name="remove_friend_id" value="{{ friend.id }}">
          <div>
            <input type="submit" id="submit" name="submit" value="Remove">
          </div>
        </form>
      </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if friendsRequestRecieved|length > 0 %}
    <h2>Accept Friend Requests:</h2>
    <div class="item-list-container">
      {% for friend in friendsRequestRecieved %}
        <div class="item-list">
          <img id="profile-picture" src="./static/uploads/{{ friend.username }}.jpg" alt="{{ friend.username }}'s Profile Picture">
          <h2>{{ friend.username }}</h2>
          <form method='post' name="AcceptFriend">
            {{ formAccept.hidden_tag() }}
            <input type="hidden" name="accept_friend_id" value="{{ friend.id }}">
            <div>
              <input type="submit" id="submit" name="submit" value="Accept">
            </div>
          </form>
          <form method='post' name="DeclineFriend">
            {{ formReject.hidden_tag() }}
            <input type="hidden" name="reject_friend_id" value="{{ friend.id }}">
            <div>
              <input type="submit" id="submit" name="submit" value="Decline">
            </div>
          </form>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if friendsRequestSent|length > 0 %}
    <h2>Sent Friend Requests:</h2>
    <div class="item-list-container">
      {% for friend in friendsRequestSent %}
        <div class="item-list">
          <img id="profile-picture" src="./static/uploads/{{ friend.username }}.jpg" alt="{{ friend.username }}'s Profile Picture">
          <h2>{{ friend.username }}</h2>
          <form method='post' name="CancelFriend">
            {{ formCancel.hidden_tag() }}
            <input type="hidden" name="cancel_friend_id" value="{{ friend.id }}">
            <div>
              <input type="submit" id="submit" name="submit" value="Remove">
            </div>
          </form>
        </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
