{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<body onload="Calendar()">
  <nav>
    <div class="nav-links">
      <a href="/home">Home</a>
      <a href="/create_event">New Event</a>
      <a href="/friends">Friends</a>
      <a href="/settings">Settings</a>
    </div>
    <div class="month-nav">
      <button onclick="prevMonth()"><b> < </b></button>
      <a id="monthAndYear"></a>
      <button onclick="nextMonth()"><b> > </b></button>
    </div>
    <img id="profile-picture" src="{{ profile_picture }}" alt="Profile Picture" onclick="changeProfilePicture()">
  </nav>
  <table id="calendar">
    <thead>
      <tr>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
      </tr>
    </thead>
    <tbody id="calendar-body">
    </tbody>
  </table>
  <script src="static/scripts.js"></script>
  <div>
    <br>
  </div>
  <div class="printDetails">
  <h2>Upcoming Events</h2>
    {% for event in events %}
      <hr>
      <div class="event">
        <h3>{{ event.name }}</h3>
        <p>{{ event.date }}</p>
        <p>{{ event.location }}</p>
        <p>{{ event.description }}</p>
      </div>
    {% endfor %}
  </div>
  {% if eventInvitations|length > 0 %}
    <div class="printDetails">
      <h2>Event Invites</h2>
      {% for event in eventInvitations %}
        <div class="event">
          <h3>{{ event.name }}</h3>
          <p>{{ event.date }}</p>
          <p>{{ event.location }}</p>
          <p>{{ event.description }}</p>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
