<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form method='post' name="CreateNewIncome">
    {{ form.hidden_tag() }}
    <div>
      <label for="identifier">Username or Email:</label>
      {{ form.identifier }}
    </div>
    <div>
      <label for="password">Password:</label>
      {{ form.password }}
    </div>
      {{ get_flashed_messages()[0] }}
    <div>
      <input type="submit" id="submit" name="submit" value="Submit">
    </div>
  </form>
</body>
</html>
